*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: 20rem auto; 
    gap: 1rem;
    align-items: center;
}
main {
    grid-column: 2/3; 
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid header, .grid footer {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
}
nav {background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav a {
    display: block; 
    padding: 10px 20px;
    text-decoration: none; 
    color: white;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4682B4;
}

nav a {
    color: white;
    display: block;
      padding: 20px;
      text-decoration: none;
}
h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}

/*selectors*/

main img {
    float: right;
}

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: lightgray;
    color: darkblue;
}

aside {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: white;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 20px; 
}